<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meta.ale.mapper.VcReqMapper">

    <!--휴가 신청 내역 조회-->
    <!--페이징 처리-->
    <select id="getVcReqList" resultMap="reqMap" parameterType="HashMap">
        SELECT
        *
        FROM (
            SELECT
                ROWNUM RN,
                v.req_id, v.req_date, v.start_date, v.end_date, v.req_days, v.comments, v.status,
                v.aprv_date,v.file_path, e.emp_id, e.name, e.position, e.p_email,
                e.c_email, e.tel, e.mgr_id, e.dept_id, vt.*
            FROM
                vc_req v JOIN emp e ON v.emp_id = e.emp_id
                         JOIN vc_type vt ON v.type_id = vt.type_id
            WHERE
            <![CDATA[ ROWNUM <= #{pageNum} * #{amount} ]]>
            <if test="user_id != 0">
                AND e.user_id = #{userId}
            </if>
        )
        <![CDATA[ WHERE RN > (#{pageNum}-1) * #{amount} ]]>
    </select>

    <!--휴가 신청 내역 상세 조회-->
    <select id="getVcReq" resultMap="reqMap" parameterType="Long">
        SELECT
            v.req_id, v.req_date, v.start_date, v.end_date, v.req_days, v.comments, v.status,
            v.aprv_date,v.file_path, e.*, d.dept_name, vt.*
        FROM
            vc_req v JOIN emp e ON v.emp_id = e.emp_id
                     JOIN dept d ON e.dept_id = d.dept_id
                     JOIN vc_type vt ON v.type_id = vt.type_id
        WHERE
            req_id = #{reqId}
    </select>

    <!--휴가 신청-->
    <!-- REQ_SQ, 요청일, 휴가 시작일, 휴가 종료일, 휴가 유형, 상태, 직원 번호 -->
    <insert id="insertVcReq" parameterType="VcReqDto">
        INSERT INTO
        vc_req
        (REQ_ID, REQ_DATE, START_DATE, END_DATE, REQ_DAYS, COMMENTS, STATUS, APRV_DATE, FILE_PATH, EMP_ID, TYPE_ID)
        VALUES
        (REQ_SQ.nextval, SYSDATE, #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE},
         #{reqDays,jdbcType=INTEGER}, #{comments,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{aprvDate,jdbcType=DATE},
        #{filePath,jdbcType=VARCHAR}, #{empDto.empId}, #{vcTypeDto.typeId})

        <selectKey keyProperty="reqId" order="AFTER" resultType="long">
            SELECT REQ_SQ.currval FROM dual
        </selectKey>
    </insert>

    <!--휴가 결재 내역 조회-->
    <select id="getVcReqListByMgr" resultMap="reqMap" parameterType="HashMap">
        SELECT
        *
        FROM (
        SELECT
        ROWNUM RN, v.*, e.name,e.p_email,e.c_email, e.position,e.hire_date
        FROM
        vc_req v JOIN emp e ON v.emp_id = e.emp_id
        WHERE
        <![CDATA[ ROWNUM <= #{pageNum} * #{amount} ]]>
        AND e.leave_date IS NULL
        <if test="deptId != null">
            AND e.dept_id = #{deptId}
        </if>
        <if test="keyword != null and !keyword.equals('')">
            AND v.STATUS = #{keyword}
        </if>

        )
        <![CDATA[ WHERE RN > (#{pageNum}-1) * #{amount} ]]>
    </select>
    <!--휴가 신청 상태 변경-->
    <update id="updateVcReqStatus" parameterType="VcReqDto">
        UPDATE vc_req SET status = #{status}
        <if test="aprvDate != null">
            , APRV_DATE = #{aprvDate}
        </if>
        <if test="deniedComments != null">
            , DENIED_COMMENTS = #{deniedComments}
        </if>
        WHERE req_id = #{reqId}
    </update>

    <!--  관리자 및 매니저 휴가 신청내역 개수(페이징 처리용)  -->
    <select id="getVcReqCountByMgr" resultType="Long">
        SELECT COUNT(*) FROM VC_REQ v,EMP e
        WHERE v.emp_id = e.emp_id
        <if test="deptId != null">
            AND e.dept_id = #{deptId}
        </if>
        <if test="keyword != null and !keyword.equals('')">
            AND v.STATUS = #{keyword}
        </if>

    </select>

    <!--휴가 신청 개수 (페이징 처리용)-->
    <select id="getVcReqCount" resultType="Long">
        SELECT
            COUNT(*)
        FROM
            vc_req v JOIN emp e ON v.emp_id = e.emp_id
        <where>
            <if test="user_id != 0">
                AND e.user_id = #{userId}
            </if>
        </where>
    </select>

    <!--  캘린더용 우리팀 부서의 휴가 뿌리기 위한 것  -->
    <select id="getVcReqByDept" resultMap="reqMap">
        SELECT  V.*,E.name,E.C_EMAIL,E.POSITION, VT.*
        FROM VC_REQ V,
             EMP E,
             VC_TYPE VT
        WHERE V.EMP_ID = E.EMP_ID AND V.TYPE_ID = VT.TYPE_ID
          AND E.LEAVE_DATE IS NULL
          AND V.STATUS IN ('자동승인', '승인완료')
          AND E.DEPT_ID = (SELECT DEPT_ID
                           FROM EMP E2
                           WHERE E2.USER_ID = #{userId})
    </select>

    <resultMap id="reqMap" type="VcReqDto">
        <id property="reqId" column="req_id"/>
        <result property="reqDate" column="req_date" />
        <result property="startDate" column="start_date" />
        <result property="endDate" column="end_date" />
        <result property="reqDays" column="req_days" />
        <result property="comments" column="comments" />
        <result property="deniedComment" column="denied_comment"/>
        <result property="status" column="status" />
        <result property="aprvDate" column="aprv_date" />
        <result property="filePath" column="file_path" />
        <association property="vcTypeDto" resultMap="vcTypeMap" />
        <association property="empDto" resultMap="empMap" />
    </resultMap>
    <resultMap id="vcTypeMap" type="VcTypeDto">
        <result property="typeId" column="type_id"/>
        <result property="typeName" column="type_name"/>
        <result property="description" column="description"/>
    </resultMap>
    <resultMap id="empMap" type="EmpDto">
        <id property="empId" column="emp_id" />
        <result property="name" column="name" />
        <result property="hireDate" column="hire_date" />
        <result property="leaveDate" column="leave_date" />
        <result property="position" column="position" />
        <result property="pEmail" column="p_email" />
        <result property="cEmail" column="c_email" />
        <result property="tel" column="tel" />
        <result property="mgrId" column="mgr_id" />
        <association property="userDto" resultMap="userMap" />
        <association property="deptDto" resultMap="deptMap" />
    </resultMap>

    <resultMap id="userMap" type="UserDto">
        <id property="userId" column="user_id" />
<!--        <result property="empNum" column="emp_num" />-->
        <result property="role" column="role" />

    </resultMap>

    <resultMap id="deptMap" type="DeptDto">
        <id property="deptId" column="dept_id" />
        <result property="deptName" column="dept_name" />
    </resultMap>


</mapper>


