<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meta.ale.mapper.VcTypeMapper">

	<select id="getListVcType" resultType="VcTypeDto">
		    SELECT type_id, type_name, pto, max_granted_days, description
		    FROM vc_type
	</select>

	<!-- insert 후 typeId 추가해서 dto 반환 -->
	<insert id="insertVcType" parameterType="VcTypeDto">
		<selectKey keyProperty="typeId" resultType="Long" order="BEFORE">
			SELECT TYPE_SQ.nextval FROM DUAL
		</selectKey>
		INSERT INTO vc_type (type_id, type_name, description, pto, max_granted_days,
		creation_date) VALUES(
		#{typeId},
		#{typeName},
		#{description},
		#{pto},
		#{maxGrantedDays},
		sysdate)
	</insert>

	<delete id="deleteVcType" parameterType="Long">
		DELETE FROM vc_type
		WHERE type_id = #{typeId}
	</delete>

	<update id="updateVcType" parameterType="VcTypeDto">
		UPDATE vc_type
		SET type_name = #{typeName},
		    description = #{description},
		    pto = #{pto},
		    max_granted_days = #{maxGrantedDays},
			update_date = sysdate
		WHERE type_id = #{typeId}
	</update>
	<select id="findVcTypeByTypeName" resultType="VcTypeDto">
        SELECT * FROM VC_TYPE
        WHERE type_name = #{typeName}
    </select>

	<select id="findVcTypeDtoByTypeId" resultType="VcTypeDto" parameterType="Long">
		SELECT * FROM vc_type
		WHERE type_id = #{typeId}
	</select>
</mapper>